/* Global stuff */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  padding-top: 70px;
}

.btn-primary {
  background-color: #274863;
  border-color: #0E2F4A;
}

/* Navigation related stuff */
.navbar {
  border: none;
}
.navbar-default,
.navbar-default .dropdown-menu {
  background-color: #333;
}
.navbar-default a {
  color: #999 !important;
  background-color: #333 !important;
}
.navbar-default a:hover {
  color: #BBB !important;
  background-color: #333 !important;
}
.navbar-default li.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #274863 !important;
}
.navbar-default .navbar-brand {
  vertical-align: top;
}
.navbar-default .navbar-brand img {
  margin-top: -12.5px;
}
.navbar-default .navbar-brand span {
  vertical-align: top;
}
.navbar-default #menu-resume img {
  margin-top: -5px;
  vertical-align: top;
}

/* Footer stuff */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #333;
  padding-top: 5px;
}

#footer p {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 0px;
}

/* Social icon stuff */
.social-icon-sm {
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat:no-repeat;
}

.social-icon-md {
  width: 40px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat:no-repeat;
}

.social-icon-sm.twitter {
  background-image: url("/img/social-logos/twitter-blue-20.png");
}
.social-icon-md.twitter {
  background-image: url("/img/social-logos/twitter-blue-30.png");
}

.social-icon-sm.fb {
  background-image: url("/img/social-logos/fb-20.png");
}
.social-icon-md.fb {
  background-image: url("/img/social-logos/fb-30.png");
}

.social-icon-sm.linkedin {
  background-image: url("/img/social-logos/linkedin-20.png");
}
.social-icon-md.linkedin {
  background-image: url("/img/social-logos/linkedin-30.png");
}

.social-icon-sm.gplus {
  background-image: url("/img/social-logos/gplus-20.png");
}
.social-icon-md.gplus {
  background-image: url("/img/social-logos/gplus-30.png");
}

.social-icon-sm.github-white {
  background-image: url("/img/social-logos/github-white-20.png");
}
.social-icon-md.github-white {
  background-image: url("/img/social-logos/github-white-30.png");
}

.social-icon-sm.github-black {
  background-image: url("/img/social-logos/github-black-20.png");
}
.social-icon-md.github-black {
  background-image: url("/img/social-logos/github-black-30.png");
}

.social-icon-sm.bitbucket {
  background-color: white;
  border-radius: 2px;
  background-image: url("/img/social-logos/bitbucket-20.png");
}
.social-icon-md.bitbucket {
  background-image: url("/img/social-logos/bitbucket-30.png");
}

/* Page specific stuff */

/* Home page */
.thumbnail .caption h3 {
  text-align: right;
}

/* Contact page */
#contact-img {
  width: 100px;
  height: 100px;
}

@media (min-width: 400px) {
  #contact-img {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  #contact-img {
    width: 300px;
    height: 300px;
  }
}

/* Flash games */
#gameFrame {
  margin-bottom: 20px;
}
#gameFrame img {
  width: 50px;
  height: 50px;
}
@media (min-width: 400px) {
  #gameFrame img {
    width: 250px;
    height: 250px;
  }
}

/* Raytracer */
#raytracer-canvas {
  width: 100%;
  max-width: 1024px;
  border: 1px solid black;
}

/* Geohash page */
.geohash-container {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
.geohash-map-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.geohash-container>.container {
  position:relative;
  height:100%;
}
.geohash-control {
  padding: 5px;
}
.geohash-control>div {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
@media (min-width: 400px) {
  .geohash-control {
    padding: 10px;
  }
  .geohash-control>div {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
  }
}
.geohash-control {
  position:absolute;
  left: 30px;
  top: 0px;
  right: 30px;
  background-color: rgba(100, 100, 100, .8);
  border-color: rgba(50, 50, 50, .8);
  border-width: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;
  border-top: none;
  z-index:2;
}
.location-services.loc-enabled {
  color: blue;
  text-shadow: 0 0 .8em rgba(64, 64, 255, 1);
}
.location-services.loc-disabled {
  color: black;
}
.location-services.loc-unavailable {
  color: lightgray;
}
.geohash-thanks {
  position: absolute;
  bottom: 0px;
  padding: 2px;
  background-color: rgba(50, 50, 50, .8);
  border-color: rgba(25, 25, 25, .8);
  border-width: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-style: solid;
  border-bottom: none;
  z-index:3;
}
