<h1><%= data.gameName %></h1>
<div id="gameFrame">
  <div id="altContent">
    <div class="well">
      <p><a href="http://www.adobe.com/go/getflashplayer">Get Adobe Flash player</a></p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p><%= data.description %></p>
  </div>
  <table class="table">
    <thead>
      <tr><th colspan="2">Credits</th></tr>
    </thead>
    <tbody>
    <% _.each(data.credits, function(credit) { %>
      <tr>
        <td><%= credit.name %></td>
        <td><%= credit.responsibilities %></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>
