<p style="text-align:center">
  <button id="render-button" data-loading-text="Rendering..." type="button" class="btn btn-primary btn-lg">Begin Rendering</button>
</p>
<p>Clicking render will start a long-running function on the UI thread of your browser. You won't see any update or be able to interact with this page for a short time (&lt; 10 seconds). A future update to this will put the rendering process in the background using web workers.</p>
<canvas width="1024" height="512" id="raytracer-canvas" class="center-block">
</canvas>
<br/>
<p id="raytracer-stats" style="text-align:center"></p>